* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
.row-portfolio {
  margin-top: 5px;
  margin-bottom: 30px;
}
.col-6 {
  margin-bottom: 40px;
}
.inner-div {
  position: relative;
  width: 100%;
  height: 100%;
}
.col-6 .cover-img {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.div-on-hover {
  position: absolute;
  background-color: coral;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 10px;
  opacity: 0;
  transition: opacity 1s;
}
.div-on-hover img {
  width: 100%;
  height: 100%;
}
.col-6:hover .div-on-hover {
  opacity: 1;
}
.div-loqo1,
.div-loqo2,
.div-loqo3,
.div-loqo4,
.div-loqo5 {
  position: absolute;
  width: 9%;
}
.div-loqo1 {
  top: 40%;
  right: 40%;
  transition: 1s;
}
.div-loqo1:hover img {
  background-color: #17d4fe;
  border-radius: 50%;
  opacity: 1;
}

.div-loqo2 {
  top: 40%;
  left: 40%;
  transition: 1s;
}
.div-loqo2:hover img {
  background-color: #17d4fe;
  border-radius: 50%;
  opacity: 1;
}
.div-loqo2 {
  top: 40%;
  left: 40%;
  width: 50px;
  height: 50px;
  transition: 1s;
  position: absolute;
  background-blend-mode: initial;
  background-color: transparent;
}
.div-loqo2 img {
  background-blend-mode: initial;
}

.div-loqo2:hover {
  background-color: #17d4fe;
  border-radius: 50%;
}

.div-loqo3 {
  bottom: 10px;
  left: 10px;
}
.div-loqo4 {
  bottom: 10px;
  right: 50%;
}
.div-loqo5 {
  bottom: 10px;
  right: 10px;
}
.logo-port {
  height: 10px;
  width: 10px;
}
.hidden-h6 {
  display: none;
}


@media screen and (max-width: 767px) {
  .col-md-10 {
    padding-left: 30px;
  }
  .div-loqo1 {
    width: 36px;
    margin-left: 30px;
    top: 40%;
    right: 35%;
  }
  .div-loqo2 {
    width: 30px;
    margin-right: 30px;
    top: 41%;
    left: 35%;
  }
  .div-on-hover img {
    width: 40%;
    height: 40%;
  }
  
.div-loqo3,
.div-loqo4,
.div-loqo5 {
  position: absolute;
  width: 20px;
  bottom: 5px;
}
.div-loqo3 img,
.div-loqo4 img,
.div-loqo5 img {
  width: 30%;
}
.div-loqo4 img {
  margin-left: 15px;
}
.hidden-h3 {
  display: none;
}
.hidden-h6 {
  display: block;
}
}
